* {
  box-sizing: border-box
}

html {
  height: 100%
}
body {
  display: block;
  position: absolute;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: 0
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0
}
  
#page {
  min-height: 100%;
  overflow-y: auto;
  background-image: radial-gradient(100% 150% at 92% -70%, #000 0%, #020736 180%)
}

#page > * {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center
}

#stamps, .hide {
  display: none !important
}

#connect {
  font-family: sans-serif;
  flex-direction: row
}

img.moon {
  position: absolute;
  width: 6%;
  top: 1.5em;
  right: 8%
}

.reset {
  color: white;
  position: absolute;
  bottom: 1.1em;
  right: .5em;
  cursor: pointer;
}
.reset > span {
  padding: .6em 1em;
}
.reset > span:hover {
  background-color: rgba(255, 255, 255, .2)
}

.button {
  margin: .5em;
  padding: 1em;
  text-align: center;
  cursor: pointer;
  color: #fff;
  border: 3px solid white;
  border-radius: .8em;
  display: inline-block
}
.button:hover {
  background-color: rgba(256, 256, 256, .3)
}

#exchange {
  flex-direction: column
}

#exchange > div {
  margin: .5em
}

#exchange > .ticket {
  padding-right: 7px;
  color: #fff;
  border: 3px solid white;
  border-radius: .8em;
  padding: .2em
}

#exchange > .ticket > textarea {
  resize: none;
  width: 100%;
  height: 7.6em;
  overflow: hidden;
  background-color: transparent;
  color: #fff;
  border: 0;
  outline: 0;
  margin-bottom: -.25em;
  width: 30em
}
::selection {
  background: rgba(255, 159, 44, .99)
}
::-moz-selection {
  background: rgba(255, 159, 44, .99)
}

#exchange > .info {
  text-align: center;
  padding: 1em;
  color: #fff;
  font-family: sans-serif
}

#room {
  position: relative;
  background-color: rgba(255, 255, 255, .2);
  margin: 0 auto;
  width: 80%;
  flex-flow: row wrap;
  overflow-y: auto
}
#room.active {
  display: block;
  text-align: center
}

#room > .conversation {
  width: 100%;
  overflow: auto
}
#room.active > .conversation {
  text-align: left
}

#room > .conversation[data-comment] > .page-item:not([data-focus]) {
  display: none
}

.form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.form > * {
  margin: .5em auto 0;
}

.form > input.message-title,
.form > textarea.message {
  padding: .2em .4em;
  border: 0;
  outline: 0;
  font-size: large;
  font-family: serif;
  width: 30em;
  display: block
}
.form > textarea.message {
  height: 5em
}

.form > input.message-title:invalid,
.form > textarea.message:invalid {
  background-color: #e91404
}

.button-small {
  border: 1px solid #999;
  margin: .5em .2em;
  padding: .2em .6em;
  border-radius: 5px;
  font-size: large;
  font-family: serif;
  cursor: pointer;
  display: block
}
.button-small + .button-small {
  margin-top: 0;
}

.page-item {
}

.item, .comments {
  background-color: #fff;
  margin: .5em .5em 0;
  padding: 1em;
  border-radius: .8em
}

.item > h1 {
  margin: 0;
  font-size: x-large;
  display: inline
}

.user-id {
  display: inline;
  font-family: monospace;
  background-color: #ecd418
}
.user-id.abandoned {
  background-color: #fff;
  color: #7a6d00
}

.item > span.toggle {
  cursor: pointer;
  clear: right
}

.item > span.unread {
  clear: right;
}
.item > span.unread:before {
  content: attr(data-num)
}
.item > span.unread[data-num="0"] {
  display: none
}

.item > span.unread,
.connected-user[data-self]:after {
  background-color: #e91404;
  color: #fff;
  padding: .1em .4em;
  border-radius: .7em;
  font-family: sans-serif;
  font-size: small;
}

.comments {
  width: calc(100% - 1em)
}

.item-comment {
  margin: .2em
}

p {
  margin: .5em 0
}

blockquote {
  margin: 0;
  padding: 1em 40px;
  background-color: #e37cb0
}

#users {
  background: linear-gradient(45deg, #020736 25%, transparent 25%, transparent 50%, #020736 50%, #020736 75%, transparent 75%);
  background-size: 30px 30px
}

.list {
  width: calc(20% - .5em);
  height: 80%;
  background-color: #fff;
  margin: .5em;
  border-radius: .8em;
  padding: 1em
}

.view {
  width: 60%;
  height: 80%;
  background-color: rgba(255, 255, 255, .2)
}

.connected-user[data-self]:after {
  content: "self"
}