* {
  box-sizing: border-box
}

html {
  height: 100%
}
body {
  display: block;
  position: absolute;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: 0
}
  
#page {
  min-height: 100%;
  overflow-y: auto;
  background-color: #27c142
}

#page > div {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center
}

#stamps, .hide {
  display: none !important
}

#connect {
  font-family: sans-serif;
  flex-direction: row
}

.button {
  margin: .5em;
  padding: 1em;
  text-align: center;
  cursor: pointer;
  color: #fff;
  border: 3px solid white;
  border-radius: .8em;
  display: inline-block
}
.button:hover {
  background-color: rgba(256, 256, 256, .3)
}

#exchange {
  flex-direction: column
}

#exchange > div {
  margin: .5em
}

#exchange > .ticket {
  padding-right: 7px;
  color: #fff;
  border: 3px solid white;
  border-radius: .8em;
  padding: .2em
}

#exchange > .ticket > textarea {
  resize: none;
  width: 100%;
  height: 7.6em;
  overflow: hidden;
  background-color: transparent;
  color: #fff;
  border: 0;
  outline: 0;
  margin-bottom: -.25em;
  width: 30em
}
::selection {
  background: rgba(252, 67, 52, .99)
}
::-moz-selection {
  background: rgba(252, 67, 52, .99)
}

#exchange > .info {
  text-align: center;
  padding: 1em;
  color: #fff;
  font-family: sans-serif
}

#room {
  position: relative;
  background-color: #a5ea30;
  margin: 0 auto;
  width: 80%;
  flex-flow: row wrap;
  overflow-y: auto
}
#room.active {
  display: block;
  text-align: center
}

#room > .conversation {
  width: 100%;
  overflow: auto
}
#room.active > .conversation {
  text-align: left
}

#room > .conversation[data-comment] > .page-item:not([data-focus]) {
  display: none
}

.posting {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.posting > * {
  margin: .5em auto 0;
}

.posting > input.message-title,
.posting > textarea.message {
  padding: .2em .4em;
  border: 0;
  outline: 0;
  font-size: large;
  font-family: serif;
  width: 30em;
  display: block
}
.posting > textarea.message {
  height: 5em
}

.button-small {
  border: 1px solid #999;
  margin: .5em .2em;
  padding: .2em .6em;
  border-radius: 5px;
  font-size: large;
  font-family: serif;
  cursor: pointer;
  display: block
}

.page-item {
}

.item, .comments {
  background-color: #fff;
  margin: .5em .5em 0;
  padding: 1em;
  border-radius: .8em
}

.item > h1 {
  margin: 0;
  font-size: x-large;
  display: inline
}

.user {
  display: inline;
  font-family: monospace;
  background-color: #e37cb0
}

.item > span.toggle {
  cursor: pointer;
  clear: right
}

.item > span.unread {
  clear: right;
  background-color: #e91404;
  color: #fff;
  padding: .1em .4em;
  border-radius: .7em;
  font-family: sans-serif;
  font-size: small;
}
.item > span.unread:before {
  content: attr(data-num)
}
.item > span.unread[data-num="0"] {
  display: none
}

.comments {
  width: calc(100% - 1em)
}

.item-comment {
  margin: .2em
}